<header class="mw-100 container-fluid">
  <div class="row">
    <div class="col clearfix">
      <div class="float-left">
        <nav class="navbar navbar-expand-md">
          <a class="navbar-brand" routerLink="/">
          <span class="navbar-text">
            <h2>VEGETARIAN</h2>
          </span>
          </a>
          <button type="button" class="btn btn-outline-success rounded-circle">
            Счетчик калорий
          </button>
        </nav>
      </div>
      <div class="float-md-right mt-3">
        <form class="form-inline">
          <input type="search" class="form-control" title="Поиск по сайту" placeholder="Найти">
          <button type="button" class="btn btn-success">Sign in</button>
          <button type="button" class="btn btn-success">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</header>
